.message-sentiment {
    background-color: transparent;
    position: absolute;
    height: 100%;
    top: 0;
    left: -4px;
    width: 6px;
    opacity: 0;
}

.input-message-sentiment {
    left: 0;
    opacity: 0.5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 10px;
}

.input-message-sentiment:hover {
    opacity: 1;
}

.im-mess_unread .message-sentiment {
    left: -28px;
}

.im-mess:hover .message-sentiment {
    opacity: 0.5;
}

.im-mess:hover .message-sentiment:hover {
    opacity: 1;
}

.im-action_chart::before {
    background: url(/images/icons/profile_statistics.png?1) center 0 no-repeat !important;
}

.sentiment-chart-layout {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.sentiment-chart-layout .chart-header {
    position: absolute;
    top: calc(20% - 54px);
    left: 20%;
    width: 60%;
}

#chart {
    max-height: 100% !important;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    background: white;
}
